<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rexona</title>
</head>
<body>
	<a href="/photos.zip" target="_blank">Download all photos</a>
</body>
</html>