@import fonts

// Bourbon Sass Library
@import "~bourbon/app/assets/stylesheets/bourbon"

// Bootstrap
@import	libraries/variables
@import "~bootstrap-sass/assets/stylesheets/bootstrap"

@import mixins/placeholders

@import libraries/buttons
@import libraries/forms

@import components/Title
@import components/Footer

body
	background-image: url(/images/background.png)
	background-size: cover

.texture
	background-image: url(/images/texture.png)
	background-size: 100%
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-repeat: no-repeat
	background-position: 0% 5%
	z-index: -1

.car
	width: 60%
	bottom: 10%
	position: fixed
	left: 0px
	z-index: -1
	img
		width: 100%

.photo-input
	background: transparent url(/images/Camera.png) no-repeat center
	background-size: auto