.form-control, .form-control:focus
	box-shadow: none
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus
	outline: none

// placeholders
.form-control
	+placeholder
		font-weight: 200
		color: $text-color